CodeFile=Test.py
xapName=app

:: Separate code file which does verification for testing scenario in a different xaml instance
:: default: no separate verification file.
:: note, there is no dynamic generation for verification code in different language.
VerificationCodeFile=Verification.py

ExtraSourceFileList=DLRConsole.py;wpf.py

FirstStep=DeploySample.bat DLRConsole\python\app test_s_dlr_console\app