<?xml version="1.0" encoding="UTF-8"?>
<!-- 
IronRuby core runtime components

2009-09-16 JDeville Created
2010-01-31 JDeville modified to not force elevation
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
  xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" 
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\config.wxi?>
  <Fragment>
    <ComponentGroup Id="CG_CoreNGen">
      <ComponentGroupRef Id="CG_NGen_Dlls" />
      <ComponentRef Id="Comp_NGen_ir64" />
      <ComponentRef Id="Comp_NGen_ir" />
      <ComponentRef Id="Comp_SCNGEN64" />
      <ComponentRef Id="Comp_SCNGEN" />
    </ComponentGroup>
    <ComponentGroup Id="CG_Core">
      <ComponentGroupRef Id="CG_Dlls" />
      <ComponentRef Id="Comp_ir64" />
      <ComponentRef Id="Comp_ir" />
      <ComponentRef Id="Comp_SC64" />
      <ComponentRef Id="Comp_SC" />
    </ComponentGroup>
    <ComponentGroup Id="CG_NGen_Dlls" >
      <ComponentRef Id="NGENComp_Microsoft.Scripting.dll" />
      <ComponentRef Id="NGENComp_Microsoft.Dynamic.dll" />
      <ComponentRef Id="NGENComp_Microsoft.Scripting.Core.dll" />
      <ComponentRef Id="NGENComp_Microsoft.Scripting.Debugging.dll" />
      <ComponentRef Id="NGENComp_Microsoft.Scripting.ExtensionAttribute.dll" />
      <ComponentRef Id="NGENComp_IronRuby.dll" />
      <ComponentRef Id="NGENComp_IronRuby.Libraries.dll" />
      <ComponentRef Id="NGENComp_IronRuby.Libraries.YAML.dll" />
    </ComponentGroup>
    <ComponentGroup Id="CG_Dlls" >
      <ComponentRef Id="Comp_Microsoft.Scripting.dll" />
      <ComponentRef Id="Comp_Microsoft.Dynamic.dll" />
      <ComponentRef Id="Comp_Microsoft.Scripting.Core.dll" />
      <ComponentRef Id="Comp_Microsoft.Scripting.Debugging.dll" />
      <ComponentRef Id="Comp_Microsoft.Scripting.ExtensionAttribute.dll" />
      <ComponentRef Id="Comp_IronRuby.dll" />
      <ComponentRef Id="Comp_IronRuby.Libraries.dll" />
      <ComponentRef Id="Comp_IronRuby.Libraries.YAML.dll" />
    </ComponentGroup>

    <DirectoryRef Id="Dir_StartMenu">
      <Component Id="Comp_Core_Shortcut" DiskId="1" Guid="4718d9bb-de0c-4ed7-bdb3-00226fec023d">
        <CreateFolder />
        <Shortcut Id="Shortcut_Readme" 
          Name="$(var.ProductShortName) Readme" 
          Target="[#File_Readme.txt]" />
        <util:InternetShortcut Id="Shortcut_ReportBugs" 
          Name="Report bugs" 
          Type="url"
          Target="[ReportBugs]" />
        <util:InternetShortcut Id="Shortcut_LearnMore"
          Name="Learn More"
          Type="url"
          Target="[LearnMore]" />
        <Shortcut Id="Shortcut_Uninstall" 
          Name= "Uninstall $(var.ProductShortName)"
          Description="Uninstalls IronRuby"
          Target="[System64Folder]msiexec.exe"
          Arguments="/x [ProductCode]" />
        <RegistryKey Root="HKMU"
          Key="[ApplicationRegKey]"
          Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string"
            Value='[Dir_StartMenu]'
            KeyPath='yes' />
          <RegistryValue Type='string'
            Name='InstallPath'
            Value='[APPLICATIONFOLDER]' />
        </RegistryKey>
        <RemoveFolder Id="Dir_StartMenu" On='uninstall' />
      </Component>
      <Component Id="Comp_SCNGEN" DiskId="1" Guid="9A663596-2F2A-475F-AD5E-71E143EDAA45">
        <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
        <Shortcut Id="NGENShortcut_Console" Name="IronRuby Console" Target="[#NGENFile_ir.exe]" />
        <RegistryValue Root="HKMU"
          Key='[ApplicationRegKey]'
          Type='string'
          Value ='[Dir_StartMenu]'
          KeyPath='yes' />
      </Component>
      <Component Id="Comp_SCNGEN64" DiskId="1" Guid="3F993BF0-6A6E-4B05-A371-C816C67E1F83">
        <Condition><![CDATA[((ALLUSERS = 1) AND VersionNT64)]]></Condition>
        <Shortcut Id="NGEN6464Shortcut_Console" Name="IronRuby 64-bit Console" Target="[#NGENFile_ir64.exe]"  />
        <RegistryValue Root="HKMU"
          Key='[ApplicationRegKey]'
          Type='string'
          Value ='[Dir_StartMenu]'
          KeyPath='yes' />
      </Component>
      <Component Id="Comp_SC" DiskId="1" Guid="CFCDE631-985A-4B61-8D87-82CDAD530B55">
        <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
        <Shortcut Id="Shortcut_Console" Name="IronRuby Console" Target="[#File_ir.exe]"  />
        <RegistryValue Root="HKMU"
          Key='[ApplicationRegKey]'
          Type='string'
          Value ='[Dir_StartMenu]'
          KeyPath='yes' />
      </Component>
      <Component Id="Comp_SC64" DiskId="1" Guid="906BADCC-A1DD-47AD-937F-E8E035DB7206">
        <Condition><![CDATA[((WixAppFolder = "WixPerFolder") AND VersionNT64)]]></Condition>
        <Shortcut Id="Shortcut64_Console64" Name="IronRuby 64-bit Console" Target="[#File_ir64.exe]" />
        <RegistryValue Root="HKMU"
          Key='[ApplicationRegKey]'
          Type='string'
          Value ='[Dir_StartMenu]'
          KeyPath='yes' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="APPLICATIONFOLDER" FileSource=".">
      <Component Id="Comp_Core" DiskId="1" Guid="A05DFDF8-A83C-4d27-B5AC-299158736CE1">
        <File Id="File_Changelog.txt" Name="CHANGELOG.txt" />
        <File Id="File_License.cpl.txt" Name="LICENSE.CPL.txt" />
        <File Id="File_License.mspl.txt" Name="LICENSE.MSPL.html" />
        <File Id="File_License.ruby.txt" Name="LICENSE.Ruby.txt" />
        <File Id="File_Readme.txt" Name="README.txt" />
      </Component>
      <Component Id="Comp_path" DiskId="1" Guid="BC955F96-6C4E-4CC1-8CE8-A3F996D193DE">
        <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
        <Environment Id='UpdatePath' 
          Name='PATH' 
          Action='set' 
          System='yes' 
          Part='last' 
          Value='[APPLICATIONFOLDER]bin' />
        <Environment Id="InstallLocation" 
          Name="$(var.EnvVariableName)"
          Action='set' 
          System='yes' 
          Value='[APPLICATIONFOLDER]' />
        <CreateFolder />
      </Component>

      <Component Id="Comp_path_local" DiskId="1" Guid="87d7a513-968a-42d7-991c-957641d19e49">
        <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
        <Environment Id='UpdatePathLocal' 
          Name='PATH' 
          Action='set' 
          Part='last' 
          Value='[APPLICATIONFOLDER]bin' />
        <Environment Id="InstallLocationLocal" 
          Name="$(var.EnvVariableName)"
          Action='set' 
          Value='[APPLICATIONFOLDER]' />
        <CreateFolder />
      </Component>


      <Directory Id="Dir_Bin" Name="bin">
        <Component Id="Comp_Scripts" DiskId="1" Guid="44002AC5-4165-4710-A41A-72B371FF6B24">
          <File Id="File_gem" Name="gem" />
          <File Id="File_igem.bat" Name="igem.bat" />
          <File Id="File_irb" Name="irb" />
          <File Id="File_iirb.bat" Name="iirb.bat" />
          <File Id="File_ir.exe.config" Name="ir.exe.config" />
          <File Id="File_rdoc" Name="rdoc" />
          <File Id="File_irdoc.bat" Name="irdoc.bat" />
          <File Id="File_ri" Name="ri" />
          <File Id="File_iri.bat" Name="iri.bat" />
          <File Id="File_tutorial.bat" Name="tutorial.bat" />
          <RemoveFile Id='ExtraBins' On='uninstall' Name='*' />
        </Component>

        <Component Id="Comp_Scripts64" DiskId="1" Guid="B1E09F34-D506-41AE-87C6-2099D3B77D01">
          <Condition>VersionNT64</Condition>
          <File Id="File_ir64.exe.config" Name="ir64.exe.config" />
        </Component>

        <Component Id="NGENComp_Microsoft.Scripting.dll" DiskId="1" Guid="2e115a02-1572-459c-bb74-2568d7ee4bed">
          <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
          <File Id="NGENFile_Microsoft.Scripting.dll" Name="Microsoft.Scripting.dll" >
            <netfx:NativeImage Id="NGEN_File_Microsoft.Scripting.dll" Priority="1" Platform="all" />
          </File>
        </Component>
        <Component Id="NGENComp_Microsoft.Dynamic.dll" DiskId="1" Guid="0bad1a1b-c748-4ab7-aab2-8c90725dfb70">
          <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
          <File Id="NGENFile_Microsoft.Dynamic.dll" Name="Microsoft.Dynamic.dll" >
            <netfx:NativeImage Id="NGEN_File_Microsoft.Dynamic.dll" Priority="1" Platform="all" />
          </File>
        </Component>
        <Component Id="NGENComp_Microsoft.Scripting.Core.dll" DiskId="1" Guid="6c374102-5b41-4de2-8315-15cb79ba0bca">
          <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
          <File Id="NGENFile_Microsoft.Scripting.Core.dll" Name="Microsoft.Scripting.Core.dll" >
            <netfx:NativeImage Id="NGEN_File_Microsoft.Scripting.core.dll" Priority="1" Platform="all" />
          </File>
        </Component>
        <Component Id="NGENComp_Microsoft.Scripting.Debugging.dll" DiskId="1" Guid="acffd246-d410-4f89-9d70-4158edfb11aa">
          <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
          <File Id="NGENFile_Microsoft.Scripting.Debugging.dll" Name="Microsoft.Scripting.Debugging.dll" >
            <netfx:NativeImage Id="NGEN_File_Microsoft.Scripting.Debugging.dll" Priority="1" Platform="all" />
          </File>
        </Component>
        <Component Id="NGENComp_Microsoft.Scripting.ExtensionAttribute.dll" DiskId="1" Guid="374e3a66-2955-49d4-af44-3962a308cb21">
          <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
          <File Id="NGENFile_Microsoft.Scripting.ExtensionAttribute.dll" Name="Microsoft.Scripting.ExtensionAttribute.dll" >
            <netfx:NativeImage Id="NGEN_File_Microsoft.Scripting.ExtensionAttribute.dll" Priority="1" Platform="all" />
          </File>
        </Component>
        <Component Id="NGENComp_IronRuby.dll" DiskId="1" Guid="aa117df6-e5bb-4a48-9a0f-01c1ace18390">
          <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
          <File Id="NGENFile_IronRuby.dll" Name="IronRuby.dll" >
            <netfx:NativeImage Id="NGEN_File_IronRuby.dll"  Priority="1" Platform="all" />
          </File>
        </Component>
        <Component Id="NGENComp_IronRuby.Libraries.dll" DiskId="1" Guid="649aca43-7150-4597-bb9a-615a5711e11b">
          <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
          <File Id="NGENFile_IronRuby.Libraries.dll" Name="IronRuby.Libraries.dll" >
            <netfx:NativeImage Id="NGEN_File_IronRuby.Libraries.dll" Priority="1" Platform="all" />
          </File>
        </Component>
        <Component Id="NGENComp_IronRuby.Libraries.YAML.dll" DiskId="1" Guid="2286bbcd-c65c-4628-ab66-b17aafbf8903">
          <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
          <File Id="NGENFile_IronRuby.Librarie.YAML.dll" Name="IronRuby.Libraries.YAML.dll" >
            <netfx:NativeImage Id="NGEN_File_IronRuby.Libraries.YAML.dll" Priority="1" Platform="all" />
          </File>
        </Component>

        <Component Id="Comp_NGen_ir" DiskId="1" Guid="63a84eaf-8570-406a-9919-0e980c30f445">
          <Condition><![CDATA[(ALLUSERS = 1)]]></Condition>
          <File Id="NGENFile_ir.exe" Name="ir.exe" >
            <netfx:NativeImage Id="NGEN_File_ir.exe" Priority="1" Platform="32bit"/>
          </File>
        </Component>

        <Component Id="Comp_NGen_ir64" DiskId="1" Guid="b8119cad-bc20-4cbb-8551-363ea10f277d">
          <Condition><![CDATA[((ALLUSERS = 1) AND VersionNT64)]]></Condition>
          <File Id="NGENFile_ir64.exe" Name="ir64.exe" >
            <netfx:NativeImage Id="NGEN_File_ir64.exe" Priority="1" Platform="64bit" />
          </File>
        </Component>
        
        <Component Id="Comp_Microsoft.Scripting.dll" DiskId="1" Guid="9cb378be-ad0e-4658-8733-1ca79f834f93">
          <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
          <File Id="File_Microsoft.Scripting.dll" Name="Microsoft.Scripting.dll" />
        </Component>
        <Component Id="Comp_Microsoft.Dynamic.dll" DiskId="1" Guid="d3560bf4-25b6-4213-998b-4eb1a1a85cd1">
          <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
          <File Id="File_Microsoft.Dynamic.dll" Name="Microsoft.Dynamic.dll" />
        </Component>
        <Component Id="Comp_Microsoft.Scripting.Core.dll" DiskId="1" Guid="ec1bddfb-b853-47e3-b460-05f1b71f01a9">
          <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
          <File Id="File_Microsoft.Scripting.Core.dll" Name="Microsoft.Scripting.Core.dll" />
        </Component>
        <Component Id="Comp_Microsoft.Scripting.Debugging.dll" DiskId="1" Guid="aeea20d2-ab7b-4d7c-afbe-b714a8d84f37">
          <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
          <File Id="File_Microsoft.Scripting.Debugging.dll" Name="Microsoft.Scripting.Debugging.dll" />
        </Component>
        <Component Id="Comp_Microsoft.Scripting.ExtensionAttribute.dll" DiskId="1" Guid="8e216b71-c789-4b7d-92c1-66ad23229388">
          <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
          <File Id="File_Microsoft.Scripting.ExtensionAttribute.dll" Name="Microsoft.Scripting.ExtensionAttribute.dll" />
        </Component>
        <Component Id="Comp_IronRuby.dll" DiskId="1" Guid="eb73e090-89c5-4301-a4a9-4dbe44f11432">
          <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
          <File Id="File_IronRuby.dll" Name="IronRuby.dll" />
        </Component>
        <Component Id="Comp_IronRuby.Libraries.dll" DiskId="1" Guid="e47d6753-ad2c-42ae-a295-b7cde46276c8">
          <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
          <File Id="File_IronRuby.Libraries.dll" Name="IronRuby.Libraries.dll" />
        </Component>
        <Component Id="Comp_IronRuby.Libraries.YAML.dll" DiskId="1" Guid="075bb9dd-f220-42a5-8ffd-4816d84fd9ac">
          <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
          <File Id="File_IronRuby.Librarie.YAML.dll" Name="IronRuby.Libraries.YAML.dll" />
        </Component>

        <Component Id="Comp_ir" DiskId="1" Guid="76d8e4c4-32d4-473a-b87c-7f508ad873ea">
          <Condition><![CDATA[(ALLUSERS = 2)]]></Condition>
          <File Id="File_ir.exe" Name="ir.exe" />
        </Component>

        <Component Id="Comp_ir64" DiskId="1" Guid="f710f534-a814-4b22-a3f4-f2996ae49923">
          <Condition><![CDATA[((ALLUSERS = 2) AND VersionNT64)]]></Condition>
          <File Id="File_ir64.exe" Name="ir64.exe" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
