<?xml version="1.0" encoding="UTF-8"?>

<!--
  IronRuby installer root features, upgrades, and product definition
  2009-09-16 JDeville Created
-->

<!-- 
WHEN PERFORMING MAJOR IR UPGRADES (e.g., 2.5 => 2.6):
1. Update the ProductVersion.  TODO - this should automatically be done from gopackage
2. Update the ProductVersionText. TODO - this should automatically be done from gopackage
3. Update the UpgradeCode GUID
4. Check that the IronRuby "ARP*" property links are still valid
-->

<?define ProductShortName = "IronRuby" ?>
<?define ProductVersion = "0.9.1.0" ?>
<?define ProductVersionText = "0.9.1" ?>
<?define Manufacturer = "Microsoft Corporation" ?>
<?define UpgradeCode = "4C7A5A90-300E-466d-927B-E1B2E8B704A5" ?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="????????-????-????-????-????????????" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductShortName) $(var.ProductVersionText)" Version="$(var.ProductVersion)" Language="1033" Manufacturer="$(var.Manufacturer)">
    <Package Id="????????-????-????-????-????????????" Compressed="yes" Description="$(var.ProductShortName) $(var.ProductVersionText) ($(var.ProductVersion))" InstallerVersion="200" ShortNames="no" Manufacturer="$(var.Manufacturer)" />
    <Media Id="1" Cabinet="IronRb.cab" EmbedCab="yes" />
    
      <!-- Major upgrade -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" OnlyDetect="no" />
    </Upgrade>

    <!-- Properties -->
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPHELPLINK" Value="http://rubyforge.org/mailman/listinfo/ironruby-core" />
    <Property Id="ARPURLINFOABOUT" Value="http://www.ironruby.net" />
    <Property Id="ARPURLUPDATEINFO" Value="http://ironruby.codeplex.com" />
    <Property Id="NET20DETECTED">
      <RegistrySearch Id="Net20RegSearch" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v2.0.50727" Name="Install" Type="raw" />
    </Property>

    <!-- Launch conditions -->
    <Condition Message="An administrator must approve or install [ProductName]."> Privileged </Condition>
    <Condition Message="A later version of [ProductName] is already installed."> NOT NEWERVERSIONDETECTED </Condition>
    <Condition Message="[ProductName] requires .NET Framework 2.0 SP1 or later.">  Installed OR MsiNetAssemblySupport >= "2.0.50727.1433" </Condition>
    <Condition Message="[ProductName] requires .NET Framework 2.0 SP1 or later. .NET 4.0 is not supported.">NET20DETECTED</Condition>

    <!-- Root directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramMenuFolder" Name="PMENU">
        <Directory Id="Dir_StartMenu" Name="IRONRB" LongName="$(var.ProductShortName) $(var.ProductVersionText)" />
      </Directory>

      <Directory Id="ProgramFilesFolder" Name="PFILES">
        <Directory Id="INSTALLDIR" Name="IRONRB" LongName="$(var.ProductShortName) $(var.ProductVersionText)" />
      </Directory>
      
    </Directory>

    <!-- Root feature -->
    <Feature Id="Feature_IronRuby" ConfigurableDirectory="INSTALLDIR" Absent="disallow" AllowAdvertise="no" Display="expand" Level="1" Title="IronRuby">
      <FeatureRef Id="Feature_Core" />
      <FeatureRef Id="Feature_Lib" />
      <FeatureRef Id="Feature_Samples" />
    </Feature>

    <!-- Sequences -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="FindRelatedProducts"  />
      <Custom Action='SetInstallLocation' After="InstallValidate" />
      
    </InstallExecuteSequence>



    <InstallUISequence>
      <!-- Because we have a launch condition that uses the results of FindRelatedProducts, put it first. -->
      <LaunchConditions After="FindRelatedProducts" />
    </InstallUISequence>



    <!-- User interface -->
    <UIRef Id="WixUI_FeatureTree" />

    <!-- InstallLocation key -->
    <CustomAction Id="SetInstallLocation" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

  </Product>

</Wix>
