CodeFile=Test.py
xapName=app

:: Separate code file which does verification for testing scenario in a different xaml instance
:: default: no separate verification file.
:: note, there is no dynamic generation for verification code in different language.
::VerificationCodeFile=Verification.py

ExtraSourceFileList=fractulator.py

FirstStep=DeploySample.bat fractulator\python test_s_fractulator