<?xml version="1.0"?>
<configuration>

  <configSections>
    <!-- custom configuration section for DLR hosting -->
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=0.9.5.1, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
  </configSections>
  
  <system.webServer>
    <handlers>
      <!-- clear all other handlers first. Don't do this if you have other handlers you want to run -->
      <clear/>

      <!-- This hooks up the HttpHandler which will dispatch all requests to Rack -->
      <add name="IronRuby" path="*" verb="*" type="IronRuby.Rack.HttpHandlerFactory, IronRuby.Rack" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>

  <system.web>
    <!-- make this true if you want to compile any of the DLR code, IronRuby.Rack, or your own managed code -->
    <compilation debug="false"/>
  </system.web>

  <!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
  <microsoft.scripting debugMode="false">
    <options>
      <!-- 
        Library paths. Requires that you have Ruby installed at C:\ruby (default install location)
        Note: paths are relative to this file's directory 
      -->
      <set option="LibraryPaths" value=".;..\..\..\Languages\Ruby\Libs;c:\ruby\lib\ruby\site_ruby\1.8;c:\ruby\lib\ruby\site_ruby;c:\ruby\lib\ruby\1.8"/>
    </options>
  </microsoft.scripting>

  <appSettings>

    <!-- Settings for IronRuby.Rack -->
    <add key="AppRoot" value="." />        <!-- Where is "config.ru" located -->
    <add key="Log" value="ironrack.log" /> <!-- Log for IronRuby.Rack only   -->

    <!-- Other settings -->

  </appSettings>
</configuration>
