body {
  font-family: "Consolas", "Courier New", monospace;
  margin: 0; padding: 0
}

h1 {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

p {
  margin: 10px;
  font-size: 12px;
}

a:link, a:visited {
  color: black;
  text-decoration: underline;
  padding: 2px;
}
a:hover {
  text-decoration: none;
  background-color: lightgray;
}

.testcase
{
    height: 60px;
    position: relative;
    background: azure;
    border: 1px solid gray;
    margin: 10px;
}

.test
{
    width: 50px;
    height: 50px;
    background-color: yellow;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.desc
{
    height: 16px;
    padding: 22px;
    text-align: left;
    float: left;
    font-size: 14px;
}
