<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- custom configuration section for DLR hosting -->
		<section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
	</configSections>
	<!-- The following registers IronRuby.Rack to run on IIS -->
	<!--
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="IronRuby.Rack" path="*" verb="*" type="Rack.AspNetHandlerFactory, IronRuby.Rack" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="IronRuby.Rack" type="Rack.AspNetModule, IronRuby.Rack"/>
		</modules>
	</system.webServer>
	<!-- The following registers IronRuby.Rack on WebDev.WebServer or Cassini -->
	<!--
  <system.web>
    <httpHandlers>
      <add path="*" verb="*" type="Rack.AspNetHandlerFactory, IronRuby.Rack" />
    </httpHandlers>
  </system.web>
  -->
	<system.web>
		<httpModules>
			<add name="IronRubyRack" type="Rack.AspNetModule, IronRuby.Rack"/>
		</httpModules>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
	<microsoft.scripting debugMode="false">
		<languages>
			<language extensions=".rb" displayName="IronRuby" type="IronRuby.Runtime.RubyContext, IronRuby, Version=1.0.0.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35" names="IronRuby;Ruby;rb"/>
		</languages>
		<options>
			<!-- Library paths: make sure these paths are correct -->
			<set option="LibraryPaths" value="..\..\..\..\Languages\Ruby\libs\;..\..\..\..\External.LCA_RESTRICTED\Languages\Ruby\ruby-1.8.6p368\lib\ruby\site_ruby\1.8\;..\..\..\..\External.LCA_RESTRICTED\Languages\Ruby\ruby-1.8.6p368\lib\ruby\1.8\"/>
		</options>
	</microsoft.scripting>
	<appSettings>
		<add key="AppRoot" value="."/>
		<add key="Log" value="ironrack.log"/>
		<add key="GemPath" value="..\..\..\..\External.LCA_RESTRICTED\Languages\Ruby\ruby-1.8.6p368\lib\ruby\gems\1.8"/>
		<add key="RackEnv" value="production"/>
		<add key="RackVersion" value="=1.1.0"/>
	</appSettings>
</configuration>
