<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- custom configuration section for DLR hosting -->
		<section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting" requirePermission="false"/>
	</configSections>
	<!-- The following registers IronRuby.Rack to run on IIS -->
	<system.webServer>
		<handlers>
			<clear />
			<add name="IronRuby" path="*" verb="*" type="IronRubyRack.AspNetHandlerFactory, IronRuby.Rack" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<!-- The following registers IronRuby.Rack on WebDev.WebServer or Cassini -->
	<!--
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpHandlers>
		<add path="*" verb="*" type="IronRubyRack.AspNetHandlerFactory, IronRuby.Rack"/>
		</httpHandlers>
	</system.web>
  -->
	<!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
	<microsoft.scripting debugMode="false" />
	<appSettings>
		<add key="AppRoot" value="."/>
		<add key="Log" value="ironrack.log"/>
		<add key="GemPath" value="..\..\..\..\External.LCA_RESTRICTED\Languages\Ruby\ruby19\lib\ruby\gems\1.9.1"/>
	    <add key="SearchPaths" value="..\..\..\..\Languages\Ruby\StdLib\ironruby;..\..\..\..\Languages\Ruby\StdLib\ruby\1.9.1;..\..\..\..\Languages\Ruby\StdLib\ruby\site_ruby\1.9.1"/>
		<add key="RackEnv" value="production"/>
	</appSettings> 
</configuration>
