<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.1.0.20, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
  </configSections>

  <microsoft.scripting>
    <languages>
      <language names="IronPython;Python;py" extensions=".py" displayName="IronPython 2.7 Beta 2" type="IronPython.Runtime.PythonContext, IronPython, Version=2.7.0.20, Culture=neutral" />
    </languages>

    <options/>
  </microsoft.scripting>
</configuration>
