.silverlightDlrRepl, 
.silverlightDlrReplCode, 
.silverlightDlrReplResult, 
.silverlightDlrReplPrompt {
  font-family: Consolas, "Andale Mono", courier, fixed, monospace;
  font-size: 16px;
}

.silverlightDlrReplCode, 
.silverlightDlrReplResult, 
.silverlightDlrReplPrompt {
  border: 0px;
  line-height: 20px;
  background-color: black;
  color: #eee;
}

.silverlightDlrRepl {
  padding: 15px;
  background-color: black;
  bottom: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.silverlightDlrReplPrompt {
  color: red;
  float: left;
  display: block;
}

.silverlightDlrReplCode {
  width: 90%;
  height: 20px;
  position: relative;
  left: -1px; top: 0px;
}

.silverlightDlrReplRun {
  display: none;
}
form.silverlightDlrReplRunForm {
  color: white;
}
