<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  IronPython core runtime components

  2006-01-01 BobArnso Created
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Fragment>
    <!-- Publish short cuts to installed bits in start menu -->
    <DirectoryRef Id="Dir_StartMenu" FileSource=".">
      <Component Id="Comp_CompiledHelpShortcut" DiskId="1" Guid="F398FAC1-F78F-4A22-A91A-3BC455556224">
        <Shortcut Id="Shortcut_CompiledHelp" Directory="Dir_StartMenu" Name="IronPython Documentation" Target="[#File_IronPython.chm]" />
        <Shortcut Id="Shortcut_Readme" Directory="Dir_StartMenu" Name="IronPython Readme" Target="[#File_Readme.html.B25C469D_12C7_4327_AEF1_B2D3505E115E]" />
        <Shortcut Id="NGENShortcut_Console" Directory="Dir_StartMenu" Name="IronPython Console" Target="[#NGENFile_ipy.exe.B25C469D_12C7_4327_AEF1_B2D3505E115E]" />
        <Shortcut Id="NGEN64Shortcut_Console" Directory="Dir_StartMenu" Name="IronPython Console" Target="[#NGEN64File_ipy.exe.B25C469D_12C7_4327_AEF1_B2D3505E115E]" />
        <Shortcut Id="NGEN6464Shortcut_Console" Directory="Dir_StartMenu" Name="IronPython 64-bit Console" Target="[#NGEN64File_ipy64.exe.B25C469D_12C7_4327_AEF1_B2D3505E115E]" />
        <RemoveFolder Id='Comp_ReadMe' On='uninstall'/>
        <RegistryValue Root='HKCU' Key='SOFTWARE\Microsoft\IronPython\2.7\Docs'
                  Type='string' Value='Installed' 
                  KeyPath='yes' /> 
      </Component>
    </DirectoryRef>
    
    <!-- IronPython install files in install directory -->
    <DirectoryRef Id="INSTALLDIR" FileSource=".">
      
      <!-- CHM file for documentation -->
      <Component Id="Comp_CompiledHelp" DiskId="1" Guid="61369245-1BC0-4699-93F7-C206BE678A92">
        <File Id="File_IronPython.chm" Name="IronPython.chm" Source="$(var.TargetDir)IronPython.chm" />
      </Component>      
      
      <!-- Silverlight tooling support -->
      <Directory Id="Dir_SL" Name="Silverlight">
        <Directory Id="Dir_SLBin" Name="bin" FileSource="$(var.SilverlightDir)">
          <Component Id="Comp_SL" DiskId="1" Guid="55992BA3-6E0D-485D-AB7E-A8724612F221">
            <File Id="File_SL_Microsoft.Scripting.dll" Name="Microsoft.Scripting.dll" />
            <File Id="File_SL_Microsoft.Dynamic.dll" Name="Microsoft.Dynamic.dll" />
            <File Id="File_SL_Microsoft.Scripting.Silverlight.dll" Name="Microsoft.Scripting.Silverlight.dll" />
            <File Id="File_SL_Chiron.exe" Name="Chiron.exe" />
            <File Id="File_SL_Chiron.exe.config" Name="Chiron.exe.Config" />
            <File Id="File_SL_IronPython.dll" Name="IronPython.dll" />
            <File Id="File_SL_IronPython.Modules.dll" Name="IronPython.Modules.dll" />
            <File Id="File_SL_System.Numerics.dll" Name="System.Numerics.dll" />
          </Component>
        </Directory>
        <Directory Id="Dir_SLScript" Name="script" FileSource="$(var.SilverlightScriptDir)">
          <Component Id="Comp_SLScript" DiskId="1" Guid="398FEF2E-1071-4B0F-BB4F-69ED43AC8F58">
            <File Id="File_server" Name="server" />
            <File Id="File_server.bat" Name="server.bat" />
            <File Id="File_sl" Name="sl" />
            <File Id="File_sl.bat" Name="sl.bat" />
          </Component>
          <Directory Id="Dir_Templates" Name="templates">
            <Directory Id="Dir_python" Name="python">
              <Directory Id="Dir_javascripts" Name="js">
                <Component Id="Comp_templJS" DiskId="1" Guid="5F474E92-61BF-45A8-AB87-FC1BCB48C3B1">
                  <File Id="File_error.js" Name="error.js" />
                </Component>
              </Directory>
              <Directory Id="Dir_pypython" Name="app">
                <Component Id="Comp_templPy" DiskId="1" Guid="AE4A34D0-3CBE-47F2-A71A-5DCC6E3191E7">
                  <File Id="File_app.py" Name="app.py" />
                  <File Id="File_app.xaml" Name="app.xaml" />
                </Component>
              </Directory>
              <Directory Id="Dir_stylesheets" Name="css">
                <Component Id="Comp_templSS" DiskId="1" Guid="01AEE5EB-47B5-4877-9096-5C3AB7C3238C">
                  <File Id="File_screen.css" Name="screen.css" />
                </Component>
              </Directory>
              <Component Id="Comp_templHome" DiskId="1" Guid="9B92D16E-2CD0-4B10-A800-C51483972E75">
                <File Id="File_index.html" Name="index.html" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory> 
    </DirectoryRef>

    <!-- IronPython Tools for Visual Studio Support -->
    <DirectoryRef Id="IpyToolsInstallDir" FileSource="$(var.TargetDir)">
      <Component Id="Comp_VSTools" DiskId="1" Guid="2DF41B37-FAEF-4FD8-A2F5-46B57FF9E951">
        <File Id="File_IronPythonToolsCore.dll" Name="IronPythonTools.Core.dll" />
        <File Id="File_IronPythonTools.dll" Name="IronPythonTools.dll" />
        <File Id="File_extension.vsixmanifest" Name="extension.vsixmanifest" />
        <File Id="File_IronPythonTools.pkgdef" Name="IronPythonTools.pkgdef" />
      </Component>
        
      <Component Id="Comp_PyProgRegistration" DiskId="1" Guid="A7BC75A8-F418-4133-8BF9-490A76E99108">
        <RegistryValue Root='HKCR' Key='.pyproj' Type='string' Name='PerceivedType' Value='text' />
        
        <ProgId Id="VisualStudio.Launcher.pyproj.10.0" Description="IronPython Project"> 
          <Extension Id="pyproj" ContentType="text/plain"> 
            <Verb Id="OpenPyProj" Command="Open" TargetProperty="VSLAUNCHER" Argument="&quot;%1&quot;"/> 
          </Extension> 
        </ProgId> 
      </Component>

      <Component Id="Comp_PyFileRegistration" DiskId="1" Guid="517102D7-61A0-4F6F-B8C6-AA7CE3D5A620">
        <RegistryKey Root='HKCR' Key='[PYTHONFILETYPE]'>
            <RegistryValue Type='string' Value='Python source file' /> 
            
            <RegistryKey Key='shell\Edit with Visual Studio'>
                <RegistryValue Key='Command' Type='string' Value='[VSINSTALLPATH]devenv.exe /dde "%1"' /> 
    
                <RegistryValue Key='ddeexec' Type='string' Value='Open("%1")' /> 
                <RegistryValue Key='ddeexec\Application' Type='string' Value='VisualStudio.10.0' /> 
                <RegistryValue Key='ddeexec\Topic' Type='string' Value='system' /> 
            </RegistryKey>
        </RegistryKey>        
      </Component>
      
      <Component Id="Comp_PyFileExistance" DiskId="1" Guid="3CCD9010-C01F-4284-B6BF-9FD92C9849FD">
        <!-- This is only installed if .py is not already registered.  -->
        
        <RegistryValue Root='HKCR' Key='.py' Type='string' Value='[PYTHONFILETYPE]' />
        <RegistryValue Root='HKCR' Key='.py' Name='Content Type' Type='string' Value='text/plain' />
      </Component>
    </DirectoryRef>    
  </Fragment>
</Wix>
