<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <Module Id='IronStudio' Language='1033' Version='1.1.0.0'>
      <Package Id='83191C78-A44E-4155-A454-A459149A7150' Description='IronStudio Merge Module'
                Manufacturer='Microsoft Corporation' InstallerVersion='200' />

        <Property Id="VSINSTALLPATH">
          <RegistrySearch Id="VSInstallDir" Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="directory" />
        </Property>
    
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="VSINSTALLPATH" Name=".">
                <Directory Id="ExtensionsDir" Name="Extensions" FileSource=".">
                    <Directory Id="MSDir" Name="Microsoft" FileSource=".">
                        <Directory Id="IronStudioDir" Name="IronStudio" FileSource=".">            
                            <Directory Id="IronStudioVersionedInstallDir" Name="0.4" FileSource=".">
                                <Component Id="Comp_IronStudio" DiskId="1" Guid="95EF4ADE-ED2C-4ED6-BED3-A550D7BD6D1E">
                                    <File Id="File_IronStudioCore.dll" Name="IronStudio.Core.dll" />
                                    <File Id="File_IronStudio.dll" Name="IronStudio.dll" />
                                    <File Id="File_RemoteScriptFactory.exe" Name="RemoteScriptFactory.exe" />
                                    <File Id="File_extension.vsixmanifest_IS" Name="extension.vsixmanifest" />
                                    <File Id="IronStudio.Custom.pkgdef" Name="IronStudio.Custom.pkgdef" />
                                    <File Id="File_IronStudio.pkgdef" Name="IronStudio.pkgdef" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
   </Module>
</Wix>
