FileUtils.cd File.expand_path(File.dirname(__FILE__)) do
  `"#{TestConfig.build_config[1]}/Chiron.exe" /d:lib /x:lib.zip`
end

test_config({
  'test_sanity.html' => 1,
  'tests.html' => 2,
  'test_script_tags.html' => 1,
  'test_ui.html' => 2,
  'test_dlrjs.html' => 1,
}).browsers = [
  "Microsoft Internet Explorer",
  "Mozilla Firefox",
  #"Google Chrome",
  #"Apple Safari"
]