/*
 * AgDLR
 */

div.silverlightDlrWindow {
  font-size: 12px;
  font-weight: normal;
  font-family: Consolas, "Courier New", serif;
  color: black;
  background-color: black;
  text-align: left;
  
  position: absolute;
  bottom: 25px;
  left: 10px;
  right: 10px;
  z-index: 1000;

  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

div.silverlightDlrWindow a,
div.silverlightDlrWindow a:link,
div.silverlightDlrWindow a:visited {
  padding: 2px;
  background-color: transparent;
  color: black;
}

div.silverlightDlrWindow a:hover {
  background-color: black;
  color: white;
}

/*
 * Menu
 */

div.silverlightDlrWindowMenu {
  background-color: #660000;
  
  color: white;
  font-size: 12px;
  padding: 5px 10px;

  position: absolute;
  height: 15px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

div.silverlightDlrWindowMenu a,
div.silverlightDlrWindowMenu a:link,
div.silverlightDlrWindowMenu a:visited {
  position: relative;
  padding: 2px 3px 2px;
  background-color: transparent;
  color: white;
  text-decoration: none;
}

div.silverlightDlrWindowMenu a:hover {
  background-color: #ddd;
  color: #440000;
}

div.silverlightDlrWindowMenu a.active {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-top: 8px;
  color: white;
  background-color: black;
  font-weight: bold;
}

/* hack for only targeting CSS at Mozilla */
@-moz-document url-prefix() {
    div.silverlightDlrWindowMenu a.active {
        padding-top: 7px;
    }
}

div.silverlightDlrWindowMenu a#silverlightDlrErrorReportLink.active {
  color: black;
  background-color: white;
}

div.silverlightDlrWindowMenu a.silverlightDlrReplLink.active {
  color: white;
  background-color: #222;
}

div.silverlightDlrWindowMenu, 
div.silverlightDlrWindow {
  position: fixed;
}

div.silverlightDlrPanel {
}

/*
 * Error Report 
 */

div.silverlightDlrErrorReport {
  background-color: white;
}

h2.silverlightDlrErrorMessage {
  margin: 0px;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 18px;
  overflow: auto;
}

div.silverlightDlrErrorSource {
  margin: 10px;
}

div.silverlightDlrErrorSourceFile,
div.silverlightDlrErrorType {
  font-weight: bold;
  font-size: 14px;
  padding-left: 5px;
}

code.silverlightDlrErrorSourceCode {
  color: #ccc;
  background-color: #222;
  display: block;
  padding: 10px;
}

span.silverlightDlrErrorLine {
  color: red;
}

div.silverlightDlrErrorType {
  border-bottom: 1px solid gray;
}

code.silverlightDlrErrorStackTrace {
  display: block;
  padding: 5px 10px;
  max-height: 250px;
  overflow: auto;
}
div.silverlightDlrErrorStackTraceLine {
  border-bottom: 1px solid #bbb;
}

/*
 * REPL
 */

.silverlightDlrRepl, 
.silverlightDlrReplCode, 
.silverlightDlrReplResult, 
.silverlightDlrReplPrompt {
  font-family: Consolas, "Andale Mono", courier, fixed, monospace;
  font-size: 12px;
}

.silverlightDlrReplCode, 
.silverlightDlrReplResult, 
.silverlightDlrReplPrompt {
  border: 0px;
  line-height: 16px;
  background-color: #222;
  color: white;
}

.silverlightDlrRepl {
  padding: 5px;
  background-color: #222;
  overflow: auto;
  height: 200px;
}

.silverlightDlrReplPrompt {
  color: red;
  float: left;
  display: block;
}

.silverlightDlrReplCode {
  width: 90%;
  position: relative;
  left: -1px; top: 0px;
}
.silverlightDlrReplCode:focus {
  border: 0px;
  outline: none;
  background: #333;
}

.silverlightDlrReplRun {
  display: none;
}
form.silverlightDlrReplRunForm {
  color: black;
  margin: 0;
  padding: 0;
  height: 16px;
  margin-bottom: 5px;
}

/*
 * REPL demo mode: just make sure the repl is inside a #demo element
 */

#demo div.silverlightDlrWindow,
#demo div.silverlightDlrWindowMenu,
#demo .silverlightDlrRepl, 
#demo .silverlightDlrReplCode, 
#demo .silverlightDlrReplResult, 
#demo .silverlightDlrReplPrompt {
  font-size: 20px;
}

#demo .silverlightDlrRepl {
    height: 300px;
}

#demo div.silverlightDlrWindow {
  bottom: 40px;
  border: 4px solid black;
}

#demo div.silverlightDlrWindowMenu {
  height: 30px;
}

#demo div.silverlightDlrWindowMenu a.active {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  padding-top: 9px;
}

/* hack for only targeting CSS at Mozilla */
@-moz-document url-prefix() {
    #demo div.silverlightDlrWindowMenu a.active {
        padding-top: 9px;
    }
}

#demo .silverlightDlrRepl {
  padding: 10px;
}

#demo .silverlightDlrRepl,
#demo .silverlightDlrReplCode,
#demo .silverlightDlrReplResult,
#demo .silverlightDlrReplPrompt {
  line-height: 24px;
}