<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.1.0.20, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="false" batch="false" targetFramework="4.0" />
    <pages compilationMode="Auto" pageParserFilterType="Microsoft.Scripting.AspNet.UI.NoCompileCodePageParserFilter" pageBaseType="Microsoft.Scripting.AspNet.UI.ScriptPage" userControlBaseType="Microsoft.Scripting.AspNet.UI.ScriptUserControl">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpModules>
      <add name="DynamicLanguageHttpModule" type="Microsoft.Scripting.AspNet.DynamicLanguageHttpModule"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="DynamicLanguageHttpModule" preCondition="integratedMode" type="Microsoft.Scripting.AspNet.DynamicLanguageHttpModule"/>
    </modules>
  </system.webServer>
  <microsoft.scripting debugMode="false">
    <languages>
      <language names="IronPython;Python;py" extensions=".py" displayName="IronPython 2.7" type="IronPython.Runtime.PythonContext, IronPython, Version=2.7.0.20, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </languages>
  </microsoft.scripting>
</configuration>
