<?xml version='1.0'?>

<?include ..\Version.wxi ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' 
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!-- Merge module for IronRuby Redist.  This includes the core binaries, licence, all ngen'd and installed -->

  <Module Id='IronRubyRedist' Language='1033' Version='1.1.3.0'>
    <Package Id='B94BDE1B-3425-4069-B3F4-6117F8EC7E69' Description='IronRuby Redist Merge Module' Manufacturer='Microsoft Corporation' InstallerVersion='200' />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFILES">
        <Directory Id="INSTALLDIR" Name="$(var.ProductShortName) $(var.ProductVersionText)">

          <Component Id="Comp_path" DiskId="1" Guid="BC955F96-6C4E-4CC1-8CE8-A3F996D193DE">
            <Environment Id='UpdatePath' Name='PATH' Action='set' System='yes' Part='last' Value='[INSTALLDIR]bin' />
            <Environment Id="InstallLocation" Name="$(var.EnvVariableName)" Action='set' System='yes' Value='[INSTALLDIR]bin' />
            <CreateFolder />
          </Component>

          <Component Id="Comp_Core" DiskId="1" Guid="A05DFDF8-A83C-4d27-B5AC-299158736CE1">
            <File Source="$(var.RubyDir)\Public\CHANGELOG.txt"/>
            <File Source="$(var.RubyDir)\Public\LICENSE.CPL.txt" />
            <File Source="$(var.RubyDir)\Public\LICENSE.APACHE.html" />
            <File Source="$(var.RubyDir)\Public\LICENSE.Ruby.txt" />
            <File Id="File_Readme.txt" Source="$(var.RubyDir)\Public\README.txt"/>
          </Component>

          <Directory Id="Dir_Bin" Name="bin" FileSource="$(var.TargetDir)">
            <Component Id="Comp_Installation_Location" Guid="B94BDE1B-3425-4069-B3F4-6117F8EC7E69">
              <RegistryValue Root='HKLM' Key='SOFTWARE\Microsoft\IronRuby\1.1' Type='string' Value='[INSTALLDIR]' KeyPath='yes' />
            </Component>

            <!--NEGENx86 BINARIES-->
            <Component Id="Comp_32_IronRuby" DiskId="1" Guid="8FF731F8-1AB4-449F-9DC7-CF7023D47307">
              <Condition>NOT VersionNT64</Condition>
              <File Id="NGENFile_IronRuby.dll" Name="IronRuby.dll" Assembly=".net" KeyPath="yes">
                <netfx:NativeImage Id="NGEN_File_IronRuby.dll"  Priority="1"/>
              </File>
            </Component>
            
            <Component Id="Comp_32_IrbLibraries" DiskId="1" Guid="50EE0528-617B-4576-B713-CC26148A12D6">
              <Condition>NOT VersionNT64</Condition>
              <File Id="NGENFile_IronRuby.Libraries.dll" Name="IronRuby.Libraries.dll" Assembly=".net" KeyPath="yes" Source="IronRuby.Libraries.dll">
                <netfx:NativeImage Id="NGEN_File_IronRuby.Libraries.dll" Priority="1"/>
              </File>
            </Component>

            <Component Id="Comp_32_IrbYaml" DiskId="1" Guid="1EA2194E-83AD-4124-8288-962CA767A508">
              <Condition>NOT VersionNT64</Condition>
              <File Id="NGENFile_IronRuby.Libraries.Yaml.dll" Name="IronRuby.Libraries.Yaml.dll" Assembly=".net" KeyPath="yes" Source="IronRuby.Libraries.Yaml.dll">
                <netfx:NativeImage Id="NGEN_File_IronRuby.Libraries.Yaml.dll" Priority="1"/>
              </File>
            </Component>

            <!-- Ngen'd binaries for for entry points (ir.exe/irw.exe) and config -->
            <Component Id="Comp_NGen_Binaries" DiskId="1" Guid="6A04E63B-1CC3-451B-B299-88E8085F2497">
              <Condition>NOT VersionNT64</Condition>
              <File Id="NGENFile_ir.exe" Name="ir.exe">
                <netfx:NativeImage Id="NGEN_File_ir.exe" Priority="1"/>
              </File>
              <File Id="NGENFile_irw.exe" Name="irw.exe">
                <netfx:NativeImage Id="NGEN_File_irw.exe" Priority="1"/>
              </File>
              <RegistryValue Root='HKCU' Key='SOFTWARE\Microsoft\IronRuby\1.1' Type='string' Value='ir' KeyPath='yes' />
            </Component>
            
            <Component Id="Comp_64_IronRuby" DiskId="1" Guid="38C6C852-FE06-454F-A381-76FF93B40962">
              <Condition>VersionNT64</Condition>
              <File Id="NGEN64File_IronRuby.dll" Name="IronRuby.dll" Assembly=".net" KeyPath="yes">
                <netfx:NativeImage Id="NGEN64_File_IronRuby.dll"  Priority="1" Platform="all" />
              </File>
            </Component>
            
            <Component Id="Comp_64_IrbLibraries" DiskId="1" Guid="CEFEC1FF-F218-423C-BCDE-2031A2157CC5">
              <Condition>VersionNT64</Condition>
              <File Id="NGEN64File_IronRuby.Libraries.dll" Name="IronRuby.Libraries.dll" Assembly=".net" KeyPath="yes">
                <netfx:NativeImage Id="NGEN64_File_IronRuby.Libraries.dll" Priority="1" Platform="all" />
              </File>
            </Component>

            <Component Id="Comp_64_IrbYaml" DiskId="1" Guid="2BF6571B-A914-4CE7-8127-C03DEB5C8D12">
              <Condition>VersionNT64</Condition>
              <File Id="NGEN64File_IronRuby.Libraries.Yaml.dll" Name="IronRuby.Libraries.Yaml.dll" Assembly=".net" KeyPath="yes">
                <netfx:NativeImage Id="NGEN64_File_IronRuby.Libraries.Yaml.dll" Priority="1" Platform="all" />
              </File>
            </Component>

            <Component Id="Comp_NGen64_Binaries" DiskId="1" Guid="9E9E3CA3-90EA-48D3-B290-4C12C6F2AE00">
              <Condition>VersionNT64</Condition>
              <File Id="NGEN64File_ir.exe" Name="ir.exe">
                <netfx:NativeImage Id="NGEN64_File_ir.exe" Priority="1" Platform="32bit" />
              </File>
              <File Id="NGEN64File_irw.exe" Name="irw.exe" >
                <netfx:NativeImage Id="NGEN64_File_irw.exe" Priority="1" Platform="32bit"/>
              </File>
              <File Id="NGEN64File_ir64.exe" Name="ir64.exe" >
                <netfx:NativeImage Id="NGEN64_File_ir64.exe" Priority="1" Platform="64bit"/>
              </File>
              <File Id="NGEN64File_irw64.exe" Name="irw64.exe" >
                <netfx:NativeImage Id="NGEN64_File_irw64.exe" Priority="1" Platform="64bit"/>
              </File>
              <RegistryValue Root='HKCU' Key='SOFTWARE\Microsoft\IronRuby\1.1' Type='string' Value='ir64' KeyPath='yes' />
            </Component>
            
            <Component Id="Comp_Scripts" DiskId="1" Guid="44002AC5-4165-4710-A41A-72B371FF6B24">
              <File Source="$(var.RubyDir)\Scripts\bin\gem" />
              <File Source="$(var.RubyDir)\Scripts\bin\igem.bat" />
              <File Source="$(var.RubyDir)\Scripts\bin\irb" />
              <File Source="$(var.RubyDir)\Scripts\bin\iirb.bat" />
              <File Source="$(var.RubyDir)\Scripts\bin\rdoc" />
              <File Source="$(var.RubyDir)\Scripts\bin\irdoc.bat" />
              <File Source="$(var.RubyDir)\Scripts\bin\ri" />
              <File Source="$(var.RubyDir)\Scripts\bin\iri.bat" />
              <File Source="$(var.RubyDir)\Scripts\bin\tutorial.bat" />
            </Component>
          </Directory>

          <Directory Id="Dir_Samples" Name="Samples">
            <?include Samples.wxi ?>
          </Directory>
         
          <Directory Id="Dir_Lib" Name="Lib">
            <?include StdLib.wxi ?>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
