<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=0.9.5.1, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
  </configSections>
  <system.webServer>
    <handlers>
      <clear/>
      <add name="IronRuby" path="*" verb="*" type="IronRuby.Rack.HandlerFactory, IronRuby.Rack" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <microsoft.scripting debugMode="true">
    <options>
      <!-- Library paths are relative to the SampleApp root directory -->
      <set option="LibraryPaths" value="..;..\..\..\Languages\Ruby\Libs;c:\ruby\lib\ruby\site_ruby\1.8;c:\ruby\lib\ruby\site_ruby;c:\ruby\lib\ruby\1.8"/>
      <set option="InterpretedMode" value="false"/>
    </options>
  </microsoft.scripting>
  <appSettings>
    <add key="Log" value="ironrack.log"/>
  </appSettings>
</configuration>
