<?xml version="1.0" encoding="UTF-8"?>

<!--
  IronRuby installer root features, upgrades, and product definition
  2009-09-16 JDeville Created
-->

<!-- 
WHEN PERFORMING MAJOR IR UPGRADES (e.g., 2.5 => 2.6):
1. Update the ProductVersion.  TODO - this should automatically be done from gopackage
2. Update the ProductVersionText. TODO - this should automatically be done from gopackage
3. Update the UpgradeCode GUID
4. Check that the IronRuby "ARP*" property links are still valid
-->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.SOURCEFILEDIR)\config4.wxi?>
  <?include $(sys.SOURCEFILEDIR)\config_common.wxi?>
  <Product Id="*" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductShortName) $(var.ProductVersionText)" Version="$(var.ProductVersion)" Language="1033" Manufacturer="$(var.Manufacturer)">
    <Package Id="*" Compressed="yes" Description="$(var.ProductShortName) $(var.ProductVersionText) ($(var.ProductVersion))" InstallerVersion="300" ShortNames="no" Manufacturer="$(var.Manufacturer)" />
    <Media Id="1" Cabinet="IronRb.cab" EmbedCab="yes" />
    
      <!-- Major upgrade -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" OnlyDetect="no" />
    </Upgrade>

    <!-- Properties -->
    <Property Id="ARPHELPLINK" Value="http://rubyforge.org/mailman/listinfo/ironruby-core" />
    <Property Id="ARPURLINFOABOUT" Value="http://www.ironruby.net" />
    <Property Id="ARPURLUPDATEINFO" Value="http://ironruby.codeplex.com" />
    <Property Id="ReportBugs" Value="http://ironruby.codeplex.com/WorkItem/Create.aspx" />
    <Property Id="LearnMore" Value="http://ironruby.net/Documentation" />
    <Property Id="ApplicationFolderName" Value="$(var.ProductShortName) $(var.ProductVersionText)" />
    <Property Id="ApplicationRegKey" Value="$(var.RegKey)" />
    <Property Id="ALLUSERS" Value="1" />

    <!-- Launch conditions -->
    <Condition Message="A later version of [ProductName] is already installed."> 
      <![CDATA[NOT NEWERVERSIONDETECTED]]>
   </Condition>
   <Condition Message="[ProductName] requires .NET Framework 4.0">
     <![CDATA[Installed OR MsiNetAssemblySupport >= "2.0.50727.1433"]]>
  </Condition>

    <!-- Root directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramMenuFolder" Name="PMENU">
        <Directory Id="Dir_StartMenu" 
          Name="$(var.ProductShortName) $(var.ProductVersionText)" />
      </Directory>

      <Directory Id="ProgramFilesFolder" Name="PFILES">
        <Directory Id="APPLICATIONFOLDER" 
          Name="$(var.ProductShortName) $(var.ProductVersionText)" />
      </Directory>
      
    </Directory>

    <!-- Root feature -->
    <Feature Id="Feature_IronRuby" ConfigurableDirectory="APPLICATIONFOLDER" Absent="disallow" AllowAdvertise="no" Display="expand" Level="1" Title="IronRuby">
      <Feature Id="Feature_Core" Absent="disallow" AllowAdvertise="no" Level="1" Title="Runtime" Description="IronRuby binaries for the Desktop CLR.">
        <Feature Id="Feature_CoreNGen" Level="1" Title="NGen" Description="NGen
          the IronRuby binaries">
          <Condition Level="0">ALLUSERS=2</Condition>
          <ComponentGroupRef Id="CG_CoreNGen" />
        </Feature>
        
        <ComponentGroupRef Id="CG_Core" />
        <ComponentRef Id="Comp_Core" />
        <ComponentRef Id="Comp_Core_Shortcut" />
        <ComponentRef Id="Comp_Scripts" />
        <ComponentRef Id="Comp_Scripts64" />
        <Feature Id="Feature_Path" AllowAdvertise="no" Level="1" Title="Add IronRuby to %PATH%" Description="Add the installation directory to %PATH% in order to use IronRuby from the command line.">
          <ComponentRef Id="Comp_path" />
          <ComponentRef Id="Comp_path_local" />
        </Feature>
      </Feature>
      <Feature Id="Feature_Lib" AllowAdvertise="no" Level="1" Title="Standard Library" Description="Ruby Standard Library">
        <ComponentGroupRef Id="CG_Lib" />
      </Feature>
      <Feature Id="Feature_Samples" AllowAdvertise="no" Level="1" Title="Samples" Description="Samples showing IronRuby working with various .NET apps and a Tutorial application">
        <ComponentGroupRef Id="CG_Samples" />
      </Feature>
    </Feature>

    <!-- Sequences -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate"  />
      <Custom Action='SetInstallLocation' After="InstallValidate" />
      <!-- These custom actions and the other ones below should make it possible
           to have a non-elevating install on Win7, but they aren't working :( -->
      <!--<Custom Action='SetAllUsers' After="WixSetPerMachineFolder">-->
        <!--WixAppFolder = "WixPerUserFolder"-->
      <!--</Custom>-->
      <!--<Custom Action='SetMSIPerUser' After="WixSetPerMachineFolder">-->
        <!--WixAppFolder = "WixPerUserFolder"-->
      <!--</Custom>-->
      <!--<Custom Action='SetMSIFastInstall' After="WixSetPerMachineFolder">-->
        <!--WixAppFolder = "WixPerUserFolder"-->
      <!--</Custom>-->
    </InstallExecuteSequence>



    <InstallUISequence>
      <!-- Because we have a launch condition that uses the results of FindRelatedProducts, put it first. -->
      <LaunchConditions After="FindRelatedProducts" />
      <!--<Custom Action='SetAllUsers' After="WixSetPerMachineFolder">-->
        <!--WixAppFolder = "WixPerUserFolder"-->
      <!--</Custom>-->
      <!--<Custom Action='SetMSIPerUser' After="WixSetPerMachineFolder">-->
        <!--WixAppFolder = "WixPerUserFolder"-->
      <!--</Custom>-->
      <!--<Custom Action='SetMSIFastInstall' After="WixSetPerMachineFolder">-->
        <!--WixAppFolder = "WixPerUserFolder"-->
      <!--</Custom>-->
    </InstallUISequence>



    <!-- User interface -->
    <UIRef Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <!-- InstallLocation key -->
    <CustomAction Id="SetInstallLocation" Property="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" />
    <!--<CustomAction Id="SetAllUsers" Property="ALLUSERS" Value="2" />-->
    <!--<CustomAction Id="SetMSIPerUser" Property="MSIINSTALLPERUSER" Value="1" />-->
    <!--<CustomAction Id="SetMSIFastInstall" Property="MSIFASTINSTALL" Value="1" />-->

  </Product>

</Wix>
