<?xml version='1.0'?>

<?include ..\Version.wxi ?> 

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <!-- Merge module for IronPython Redist.  This includes the core binaries, XML docs, licence, all ngen'd and installed -->
    
    <Module Id='IronPythonRedist' Language='1033' Version='2.7.0.10'>
      <Package Id='B25C469D-12C7-4327-AEF1-B2D3505E115E' Description='IronPython Redist Merge Module'
                Manufacturer='Microsoft Corporation' InstallerVersion='200' />

      <Directory Id="TARGETDIR" Name="SourceDir">
          <Directory Id="ProgramFilesFolder" Name="PFILES">
            <Directory Id="INSTALLDIR" Name="$(var.ProductShortName) $(var.ProductVersionText)" FileSource="$(var.TargetDir)">
              <Component Id="Comp_Core" DiskId="1" Guid="655DFFDE-C66A-4650-8369-5447CFC1942F">
                <File Id="File_License.html" Name="License.html" Source="$(var.PythonDir)\Public\License.html" />
                <File Id="File_License.rtf" Name="License.rtf" Source="$(var.PythonDir)\Public\License.rtf" />
                <File Id="File_IronPython.XML" Name="IronPython.XML" />
                <File Id="File_IronPython.Modules.XML" Name="IronPython.Modules.XML" />
                <File Id="File_Readme.html" Name="Readme.html" Source="$(var.PythonDir)\Public\Readme.html"/>
              </Component>
              <Component Id="Comp_Installation_Location" Guid="536A8336-C5ED-4192-8B70-A76EA933C705">
                <RegistryValue Root='HKLM' Key='SOFTWARE\Microsoft\IronPython\2.7'
                          Type='string' Value='[INSTALLDIR]' 
                          KeyPath='yes' /> 
                <File Id="IronPython_PF.dll" Name="IronPython.dll" />
                <File Id="IronPython.Modules_PF.dll" Name="IronPython.Modules.dll" />
                <File Id="Microsoft.Dynamic_PF.dll" Name="Microsoft.Dynamic.dll" />
                <File Id="Microsoft.Scripting_PF.dll" Name="Microsoft.Scripting.dll" />
                <File Id="Microsoft.Scripting.Metadata_PF.dll" Name="Microsoft.Scripting.Metadata.dll" />
              </Component>
              <!-- Ngen'd binaries for for entry points (ipy.exe/ipyw.exe) and config -->
              <Component Id="Comp_NGen_Binaries" DiskId="1" Guid="222D1925-DCC7-476B-AD5C-2075BA728250">
                <Condition>NOT VersionNT64</Condition>
                <File Id="NGENFile_ipy.exe" Name="ipy.exe">
                  <netfx:NativeImage Id="NGEN_File_IPy.exe" Priority="1"/>
                </File>
                <File Id="NGENFile_ipyw.exe" Name="ipyw.exe">
                  <netfx:NativeImage Id="NGEN_File_ipyw.exe" Priority="1" />
                </File>
                <RegistryValue Root='HKCU' Key='SOFTWARE\Microsoft\IronPython\2.7' Type='string' Value='ipy' KeyPath='yes' /> 
              </Component>
              
              <!-- Ngen'd 64-bit binaries for for entry points (ipy.exe/ipyw.exe) and config -->
              <Component Id="Comp_NGen64_Binaries" DiskId="1" Guid="38B90E99-8D12-413B-A41E-6D860F6E902B">
                <Condition>VersionNT64</Condition>
                <File Id="NGEN64File_ipy.exe" Name="ipy.exe">
                  <netfx:NativeImage Id="NGEN64_File_IPy.exe" Priority="1" Platform="32bit" />
                </File>
                <File Id="NGEN64File_ipyw.exe" Name="ipyw.exe" >
                  <netfx:NativeImage Id="NGEN64_File_ipyw.exe" Priority="1" Platform="32bit"/>
                </File>
                <File Id="NGEN64File_ipy64.exe" Name="ipy64.exe" >
                  <netfx:NativeImage Id="NGEN64_File_IPy64.exe" Priority="1" Platform="64bit"/>
                </File>
                <File Id="NGEN64File_ipyw64.exe" Name="ipyw64.exe" >
                  <netfx:NativeImage Id="NGEN64_File_ipyw64.exe" Priority="1" Platform="64bit"/>
                </File>
                <RegistryValue Root='HKCU' Key='SOFTWARE\Microsoft\IronPython\2.7'
                          Type='string' Value='ipy64' 
                          KeyPath='yes' /> 
              </Component>
              
              <Directory Id="Dir_DLLs" Name="DLLs" FileSource=".\DLLs">
                <Component Id="Comp_IpyWpf" DiskId="1" Guid="959551C9-A366-4177-95BC-66095487C48D">
                    <File Id="File_IronPython.Wpf.dll" Name="IronPython.Wpf.dll" />
                </Component>
                <Component Id="Comp_IpyWpfXml" DiskId="1" Guid="8977993E-34B7-4233-A3A7-7844AFC263B0">
                    <File Id="File_IronPython.Wpf.xml" Name="IronPython.Wpf.xml" />
                </Component>
              </Directory>

              <Directory Id="Dir_StdLib" Name="Lib">
                <?include StdLib.wxi ?>
              </Directory>
              
            </Directory>
			<Directory Id="GAC" Name="GAC" FileSource="$(var.TargetDir)">
			  <!--NEGENx86 BINARIES-->
			  <Component Id="Comp_32_IronPython" DiskId="1" Guid="1ACF2AF2-81FB-42FA-8252-9ED0D88CE330">
				<Condition>NOT VersionNT64</Condition>
				<File Id="NGENFile_IronPython.dll" Name="IronPython.dll" Assembly=".net" KeyPath="yes">
				  <netfx:NativeImage Id="NGEN_File_IronPython.dll"  Priority="1"/>
				</File>
			  </Component>          
			  <Component Id="Comp_32_IpyModules" DiskId="1" Guid="3811B55C-E55B-4E6B-8CDE-40C321E8123F">
				<Condition>NOT VersionNT64</Condition>
				<File Id="NGENFile_IronPython.Modules.dll" Name="IronPython.Modules.dll" Assembly=".net" KeyPath="yes" Source="IronPython.Modules.dll">
				  <netfx:NativeImage Id="NGEN_File_IronPython.Modules.dll" Priority="1"/>
				</File>
			  </Component>
			  <!--#NEGEN64 BINARIES-->
			  <Component Id="Comp_64_IronPython" DiskId="1" Guid="1394F98C-928A-41CB-AF94-9449431A76A5">
				<Condition>VersionNT64</Condition>
				<File Id="NGEN64File_IronPython.dll" Name="IronPython.dll" Assembly=".net" KeyPath="yes">
				  <netfx:NativeImage Id="NGEN64_File_IronPython.dll"  Priority="1" Platform="all" />
				</File>
			  </Component>
			  <Component Id="Comp_64_IpyModules" DiskId="1" Guid="EB69AFEF-32AC-452F-915B-BDAAB07FE8AB">
				<Condition>VersionNT64</Condition>
				<File Id="NGEN64File_IronPython.Modules.dll" Name="IronPython.Modules.dll" Assembly=".net" KeyPath="yes">
				  <netfx:NativeImage Id="NGEN64_File_IronPython.Modules.dll" Priority="1" Platform="all" />
				</File>
			  </Component>
			</Directory>
              
        
        </Directory>
      </Directory>
   </Module>
</Wix>
