<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- custom configuration section for DLR hosting -->
		<section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.1.0.20, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false"/>
	</configSections>
	<system.webServer>
		<handlers>
			<!-- clear all other handlers first. Don't do this if you have other handlers you want to run -->
			<clear/>
			<!-- This hooks up the HttpHandler which will dispatch all requests to Rack -->
			<add name="IronRuby" path="*" verb="*" type="IronRuby.Rack.HttpHandlerFactory, IronRuby.Rack" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<system.web>
		<!-- make this true if you want to debug any of the DLR code, IronRuby.Rack, or your own managed code -->
		<compilation debug="false"/>
	</system.web>
	<!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
	<microsoft.scripting debugMode="false">
		<options>
			<!-- Library paths: make sure these paths are correct -->
			<set option="LibraryPaths" value="..\..\..\Languages\Ruby\libs\;..\..\..\..\External.LCA_RESTRICTED\Languages\Ruby\ruby-1.8.6p368\lib\ruby\site_ruby\1.8\;..\..\..\..\External.LCA_RESTRICTED\Languages\Ruby\ruby-1.8.6p368\lib\ruby\1.8\"/>
		</options>
	</microsoft.scripting>
	<appSettings>
		<add key="AppRoot" value="."/>
		<add key="Log" value="ironrack.log"/>
		<add key="GemPath" value="..\..\..\..\External.LCA_RESTRICTED\Languages\Ruby\ruby-1.8.6p368\lib\ruby\gems\1.8"/>
		<add key="RackEnv" value="production"/>
	</appSettings>
</configuration>

